html,
body {
  background-color: #e6ecf0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  background-color: #32a5a5;
  height: 40px;
  width: 100%;
}

.part {
  float: left;
  width: 50%;
  height: 100%;
  min-width: 70px;
}

.searchbox {
  float: left;
  width: 50%;
  height: 100%;
  min-width: 70px;
}

.search {
  float: right;
  display: block;
  resize: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-right: 30px;
  width: 150px;
  min-width: 50px;
  border-radius: 13px;
  font-size: 15px;
}

.navigation {
  float: left;
  overflow-x: hidden;
  word-wrap: break-word;
  background-color: rgb(59, 59, 59);
  color: rgb(218, 218, 218);
  width: 5%;
  min-width: 80px;
  height: 100vh;
}

.selected_menu {
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
  height: 70px;
}

.menu {
  -webkit-user-select: none;
  overflow-x: hidden;
  text-align: center;
  cursor: pointer;
  height: 70px;
}

.menu:hover {
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
}

.textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  min-width: 100px;
  min-height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #343a40;
  box-shadow: 5px 5px 7px #a9a9a9;
}

.send {
  background-color: #343a40;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  position: relative;
  text-align: center;
  margin: auto;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 5px;
  border: 0px;
  min-width: 90px;
}
input.ex {
  margin-left: 0;
  margin-top: 4px;
}

.groupbox {
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  overflow-x: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  min-height: 70px;
  border-radius: 7px;
  border: 1px solid #343a40;
  box-shadow: 5px 5px 7px #a9a9a9;
}

.group,
.student_name {
  font-size: 20px;
  line-height: 1em;
}

.description {
  color: gray;
}

.studentbox {
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  min-height: 70px;
  border-radius: 7px;
  border: 1px solid #343a40;
  box-shadow: 5px 5px 7px #a9a9a9;
}

.studentbox0 {
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  min-height: 80px;
  border-radius: 7px;
  border: 1px solid #343a40;
  box-shadow: 5px 5px 7px #a9a9a9;
}

.holder {
  float: left;
  width: 80%;
  height: 100%;
}

.holder0 {
  float: left;
  width: 60%;
  height: 100%;
}

.checkbox {
  float: left;
  display: inline-block;
  width: 20%;
  height: 100%;
}

.checkbox0 {
  float: left;
  display: inline-block;
  width: 40%;
  height: 100%;
}

.check {
  position: relative;
  top: 17px;
  transform: scale(2.5);
}

.group_num {
  color: gray;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(59, 59, 59);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(59, 59, 59);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(59, 59, 59);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
